

### Step 1. Import the necessary libraries

In [9]:
import numpy as np
import pandas as pd
import statistics

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [3]:
euro12=pd.read_csv('Euro_2012_stats_TEAM.csv')

### Step 4. Select only the Goal column.

In [27]:
goal=euro12['Goals']

### Step 5. How many team participated in the Euro2012?

In [35]:
team=euro12['Team']
len(team)

16

### Step 6. What is the number of columns in the dataset?

In [36]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [16]:
sel_col=euro12.loc[:,['Team','Yellow Cards','Red Cards']]
d_frame=pd.DataFrame(sel_col)
d_frame

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [5]:
inp=input('1 for Red Color or 0')

sel_col=euro12.loc[:,'Team']
d_frame=pd.DataFrame(sel_col)

sets= euro12['Red Cards'] == int(inp)

d_frame[sets]

1 for Red Color or 00

              Team
0          Croatia
1   Czech Republic
2          Denmark
3          England
4           France
5          Germany
7            Italy
8      Netherlands
10        Portugal
12          Russia
13           Spain
14          Sweden
15         Ukraine

In [71]:
inp_y=input('Yellow cards')
sets= euro12['Yellow Cards'] == int(inp_y)

d_frame[sets]

Yellow cards9

      Team
0  Croatia
6   Greece

### Step 9. Calculate the mean Yellow Cards given per Team

In [10]:
#d_frame['mean']=euro12['Red Cards'].mean()
#d_frame
means=[]
for files in euro12['Yellow Cards']:
    
    means.append(files)
    
    
means

statistics.mean(means)

7.4375

In [129]:
#['Yellow Cards'].mean()
euro12.loc[:,['Team','Yellow Cards']].mean()

Yellow Cards    7.4375
dtype: float64

### Step 10. Filter teams that scored more than 6 goals

In [132]:
sets= euro12['Goals'] > 6

d_frame[sets]

       Team
5   Germany
13    Spain

### Step 11. Select the teams that start with G

In [11]:
sel_col=euro12.loc[:,'Team']
d_frame=pd.DataFrame(sel_col)
ss=euro12['Team']
#sets= s[0] == 'G'
search='G'
s=d_frame['Team'].str.startswith(search)

ss[s]
#d_frame[sets]

5    Germany
6     Greece
Name: Team, dtype: object

### Step 12. Select the first 7 columns

In [144]:
euro12.iloc[:,0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.90%,16.00%,32
1,Czech Republic,4,13,18,41.90%,12.90%,39
2,Denmark,4,10,10,50.00%,20.00%,27
3,England,5,11,18,50.00%,17.20%,40
4,France,3,22,24,37.90%,6.50%,65
5,Germany,10,32,32,47.80%,15.60%,80
6,Greece,5,8,18,30.70%,19.20%,32
7,Italy,6,34,45,43.00%,7.50%,110
8,Netherlands,2,12,36,25.00%,4.10%,60
9,Poland,2,15,23,39.40%,5.20%,48
10,Portugal,6,22,42,34.30%,9.30%,82
11,Republic of Ireland,1,7,12,36.80%,5.20%,28
12,Russia,5,9,31,22.50%,12.50%,59
13,Spain,12,42,33,55.90%,16.00%,100
14,Sweden,5,17,19,47.20%,13.80%,39
15,Ukraine,2,7,26,21.20%,6.00%,38

### Step 13. Select all columns except the last 3.

In [149]:
euro12.iloc[:].tail(3)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.90%,16.00%,100,0,1,0,...,15,93.80%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.20%,13.80%,39,3,0,0,...,8,61.60%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.20%,6.00%,38,0,0,0,...,13,76.50%,48,31,4,5,0,9,9,18

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [35]:
#euro12.loc['Team']
euro12.loc[[3,7,12],['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England            50.00%
7     Italy            43.00%
12   Russia            22.50%

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**

In [55]:
euro12['Performance']=='1'
for a in euro12.Goals:
    if a <= 2:
        f=lambda x: euro12['Performance']='Below Avg'
        
#    elif a>2 && a<=5:
#        lambda x: euro12['Performance']=='Average'
#    elif a>5 && a<=10:
#        lambda x: euro12['Performance']=='Above Average'
    elif a>10:
        f=lambda x:euro12['Performance']='Excellent' 
        
        #euro12['Performance']==
    df=euro12.apply(f)
obj= euro12.apply()

SyntaxError: can't assign to lambda (<ipython-input-55-b048fea44650>, line 11)

In [75]:
df=pd.DataFrame(euro12)
lists=[]
lists = df['Goals']
lists
for a in lists:
    if a <= 2:
        s=df['Performance']='Below Avg'
        sets=df['Performance']
    elif a>2 and a<=5:
        df['Performance']='Average'
        sets=df['Performance']
    elif a>5 and a<=10:
        df['Performance']='Above Average'
        sets=df['Performance']
    elif a>10:
        df['Performance']='Excellent'
        sets=df['Performance']
    
sets

0     Below Avg
1     Below Avg
2     Below Avg
3     Below Avg
4     Below Avg
5     Below Avg
6     Below Avg
7     Below Avg
8     Below Avg
9     Below Avg
10    Below Avg
11    Below Avg
12    Below Avg
13    Below Avg
14    Below Avg
15    Below Avg
Name: Performance, dtype: object